<h1>Sign In</h1>

<%= form_for @user, url: signin_path, method: :post do |u| %>

  <div class="info">
    <%= u.label(:name, "Your name:") %>

    <%= u.collection_select(:name, User.all, :name, :name, prompt: "Please select your username from this dropdown") %>



    <%= u.label(:password, "Your password:") %>
    <%= u.password_field(:password) %>
  </div>

  <div class="actions">
    <%= u.submit("Sign In") %>
  </div>

<% end %>
